/* Basics */

html,
body {
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #006400;
  -webkit-font-smoothing: antialiased;
  background: url(fon2.jpg)
    repeat;
  text-align: center;
}

input[type="password"] {
  color: #6a5acd;
  padding-left: 10px;
  margin: 10px;
  margin-top: 0px;
  margin-left: 18px;
  width: 320px;
  height: 35px;
  border: 1px solid #c7d0d2;
  border-radius: 2px;
  box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, 0.4), 0 0 0 5px #f5f7f8;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

input[type="email"] {
  color: #6a5acd;
  padding-left: 10px;
  margin: 10px;
  margin-top: 0px;
  margin-left: 18px;
  width: 320px;
  height: 35px;
  border: 1px solid #c7d0d2;
  border-radius: 2px;
  box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, 0.4), 0 0 0 5px #f5f7f8;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

input[type="number telephone"] {
  color: #6a5acd;
  padding-left: 10px;
  margin: 10px;
  margin-top: 0px;
  margin-left: 18px;
  width: 320px;
  height: 35px;
  border: 1px solid #c7d0d2;
  border-radius: 2px;
  box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, 0.4), 0 0 0 5px #f5f7f8;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

input[type="submit"] {
  color: #006400;
  padding-left: 10px;
  margin: 10px;
  margin-top: 12px;
  margin-left: 18px;
  width: 180px;
  height: 35px;
  border: 1px solid #c7d0d2;
  border-radius: 2px;
  box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, 0.4), 0 0 0 5px #f5f7f8;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}
